Repository Eastrall/ProjectZomboidCharacterPlanner, pull requests merged in 2023-04, with the labels that each got.

#7 Store selected occupation to the character
  .github/workflows/build.yml
  .gitignore
  package-lock.json
  package.json
  src/hooks/index.ts
  src/hooks/useCharacterService/useCharacterService.test.ts
  src/hooks/useCharacterService/useCharacterService.ts
  src/pages/home/HomePage.tsx
  src/types/character.type.ts
  tsconfig.json
  vite.config.ts
Labels: area: character

#8 Add some tests
  .github/workflows/build.yml
  package-lock.json
  package.json
  src/App.test.tsx
  src/assets/translations/en.json
  src/assets/translations/fr.json
  src/components/.gitkeep
  src/core/.gitkeep
  src/core/hasWindow.helper.ts
  src/data/occupations.ts
  src/hooks/index.ts
  src/hooks/useCharacterService/useCharacterService.test.ts
  src/hooks/useCharacterService/useCharacterService.ts
  src/hooks/useLocalStorage.ts
  src/hooks/useLocalStorage/useLocalStorage.test.ts
  src/hooks/useLocalStorage/useLocalStorage.ts
  src/layout/MainLayout.tsx
  src/layout/components/NavBar.tsx
  src/layout/components/Title.tsx
  src/layout/components/index.ts
  src/mock/hobbies.ts
  src/mock/index.ts
  src/mock/negative-traits.ts
  src/mock/occupation-traits.ts
  src/mock/occupations.ts
  src/mock/positive-traits.ts
  src/mock/skills.ts
  src/pages/home/HomePage.test.tsx
  src/pages/home/HomePage.tsx
  src/pages/home/components/Occupation/OccupationContainer.tsx
  src/pages/home/components/Occupation/OccupationItem.tsx
  src/pages/home/components/Skills/RemainingPoints.tsx
  src/pages/home/components/Skills/SkillCategoryItem.tsx
  src/pages/home/components/Skills/SkillItem.tsx
  src/pages/home/components/Skills/SkillsList.tsx
  src/pages/home/components/Trait/TraitItem.tsx
  src/pages/home/components/Trait/TraitsList.tsx
  src/pages/home/components/TraitsList.tsx
  src/pages/home/components/index.ts
  src/providers/ThemeProvider/theme.provider.test.tsx
  src/providers/ThemeProvider/theme.provider.tsx
  src/providers/index.ts
  src/providers/translation.provider.tsx
  src/shared/components/NavBar/NavBar.tsx
  src/shared/components/NavBar/NavButton.tsx
  src/shared/components/NavBar/NavDropDown.tsx
  src/shared/components/NavBar/NavDropDownItem.tsx
  src/shared/components/NavBar/NavLink.tsx
  src/shared/components/NavBar/index.ts
  src/shared/components/index.tsx
  src/shared/helpers/helpers.test.ts
  src/shared/helpers/index.ts
  src/shared/helpers/object.helper.ts
  src/shared/styles/points.style.tsx
  src/types/character.type.ts
  src/types/occupation.type.ts
  src/types/skill.type.ts
  tsconfig.json
  vite.config.ts
Labels: area: occupation, area: skills, area: character, area:tests

#15 Excluded traits
  src/assets/translations/en.json
  src/hooks/useLocale.ts
  src/mock/hobby-traits.ts
  src/mock/index.ts
  src/mock/negative-traits.ts
  src/mock/occupation-traits.ts
  src/mock/occupations.ts
  src/mock/positive-traits.ts
  src/pages/home/HomePage.test.tsx
  src/pages/home/components/Trait/TraitItem.tsx
  src/pages/home/components/Trait/TraitsList.tsx
  src/types/occupation.type.ts
  src/types/trait.type.ts
Labels: area: trait

#16 Add skill item design
  package-lock.json
  package.json
  src/pages/home/components/Skills/SkillItem.tsx
Labels: area: skills

#17 Add vitest github action reporter
  package-lock.json
  package.json
  vite.config.ts
Labels: enhancement, area:tests
